.first{
    background-color: black;
    height: 70vh;
    
}
.navbar{
    background-color: black !important;
    /* position: absolute; */
    width: 100%;
    
}
hr {
    width: 100%;
    height: 2px;
    background-color:white;
}
.navbar-bra{
    text-decoration: none;
    color: rgb(247, 236, 236);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
.heroe{
    color: white;
}
